:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #299d49;
  --bg-secondary: #0b131a;
  --bg-green: #54b13e;
  --background-gradient: linear-gradient(110deg, #83bb77, #1f9a41);
}

@font-face {
  font-family: GothamBook;
  src: url('/static/home/font/Gotham-Book.otf');
}

body {
  color: black;
  background-color: #16181E;
  margin: 0;
  padding: 0;
  scrollbar-width: 0.5rem;
  scrollbar-color: #229be8 #01161b;
}

body::-webkit-scrollbar{
  width: 0.5rem;
}

body::-webkit-scrollbar-track{
  background: #01161b;
}

body::-webkit-scrollbar-thumb{
  background: var(--bg-primary);
  border-radius: 0.75rem;
}

main {
  display: block;
  align-items: center;
  text-align: center;
  justify-items: center;
  justify-content: center;
  padding: 1rem;
}

input {
  font-family: GothamBook;
  font-weight: 300;
  background-color: var(--text-primary);
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2rem;
  box-sizing: border-box;
  transition: 200ms ease;
  height: 2.5rem;
}

input:not(:placeholder-shown) {
  background-color: var(--text-secondary);
  filter: opacity(1);
  height: 2.5rem;
}

input:placeholder-shown {
}

input:focus, textarea {
    outline: none !important;
}

.grid {
  padding: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 15rem);
  grid-auto-rows: 15rem;
}

.card {
  font-family: GothamBook;
  color: var(--text-secondary);
  height: auto;
  margin: 0;
  font-weight: 700;
  border-radius: 2rem;
  align-items: center;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.btn {
  border: none;
  background: none;
  background-color:#44c767;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
  width: 3rem;
	padding: 0.6rem 0.6rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  margin-left: 1rem;
}

.btn:focus {
  outline: none;
}

.ttl {
  text-overflow: ellipsis;
  font-size: 1rem;
}

/* for mobile */
@media only screen and (max-width: 768px){
  main {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
  }

  body {
    background-color: var(--bg-primary);
  }

  .card {
    padding: 2rem;
    margin-top:0.2rem;
    background-color: var(--bg-secondary);
  }

  .btn {
    background-color:var(--bg-secondary);
  }

  input {
    width: 100%;
    background-color: var(--text-secondary);
    filter: opacity(1);
    height: 2.5rem;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}

/* for pc */
@media only screen and (min-width: 769px){
  input {
    margin: 2rem;
    width: 15rem;
    filter: opacity(0.7);
    margin-right: 0.7rem;
  }

  input:not(:placeholder-shown) {
    background-color: var(--text-secondary);
    filter: opacity(1);
    width: 50rem;
    height: 2.5rem;
  }

  input:placeholder-shown {
  }

  .card {
    padding: 2rem;
    background-image: var(--background-gradient);
  }

  main{
    margin-left: 5rem;
    height: 90vh;
    width: 90vw;
  }
}
