{% extends "home/base.html" %}
{% load static %}

{% block css_import %}<link rel="stylesheet" href="{% static 'questions/css/create_question.css' %}">{% endblock %}

{% block main %}
    <div class="card">
      <form class="form" method="post">
        {% csrf_token %}
        <span class="welcome">{{ qt.title }}</span>
        <input type="hidden" name="author" value="{{ user.username }}" />
        <input type="hidden" name="question" value="{{ qt }}" />
        <textarea style="resize: none, white-space: pre-wrap;" placeholder="Digite sua resposta &#10;&#13;(Dica: para códigos, use o pastebin.com e para imagens, o imgur.com)" name="answer" rows="10" cols="10" class="question" required value=""></textarea>
        <button class="btn" type="submit" name="button">Responder</button>
        </div>
      </form>
{% endblock %}
