{% extends "home/base.html" %}
{% load static %}
{% load index %}

{% block css_import %}<link rel="stylesheet" href="{% static 'home/css/help.css' %}">{% endblock %}

{% block main %}
    <div class="card">
      <div class="header">
        <h1 class="title">Bem-vindo ao suporte do Codele!</h1>
      </div>
      <div class="content">
        <p>Nos contate por:</p>
        <p>E-mail: <a href="mailto:ajuda@codele.digital">ajuda@codele.digital</a></p>
        <p>Telefone: +55 (11) 9 8537-6741</p>
      </div>
      <div class="faq">
        <h1 class="title">F.A.Q.</h1>
        <h3>Meu navegador diz que o site é inseguro, devo criar uma conta?</h5>
        <p>Sim, apesar de nosso site ter políticas rigorosas de segurança e privacidade, infelizmente ainda não temos certificado HTTPS, mesmo assim, é completamente seguro.</p>
        <h3>Vocês que criam o conteúdo do site?</h5>
        <p>Sim!</p>
        <h3>Eu preciso pagar para utilizar o Codele?</h5>
        <p>Não, nossa missão é distribuir conhecimento gratuito.</p>
        <h3>Quando vai ter curso de linguagem X ou Y?</h5>
        <p>Não sabemos, precisamos achar instrutores capacitados.</p>
        <h3>Vocês distribuem certificado?</h5>
        <p>Infelizmente não, talvez no futuro.</p>
      </div>
    </div>
{% endblock %}
