{% extends "home/base.html" %}
{% load static %}

{% block css_import %}<link rel="stylesheet" href="{% static 'home/css/index.css' %}">{% endblock %}

{% block main %}
    <div class="header">
      <img class="logo-img" src="{% static 'home/svg/logo.svg' %}"/>
    </div>
    <div class="content">
      <h1 class="title-h1">Aprenda a programar com o suporte de professores.</h1>
      <h2 class="title">Se torne um <span>desenvolvedor</span> agora mesmo!</h2>
      <a class="btn" href="{% url 'codele-register' %}">Registre-se gratuitamente</a>
    </div>
    <div class="footer">
      <div class="social">
        <a href="https://www.github.com/douugbr/codele"><i class="fab fa-github fa-2x"></i></a>
        <a href="https://www.facebook.com/doug-reis-silva"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="https://www.twitter.com/douugbr"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="https://www.instagram.com/douugbr"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://www.youtube.com/loveinbits"><i class="fab fa-youtube fa-2x"></i></a>
      </div>
      <div class="copyright">
        <span>Copyright 2020 - Codele</span><br>
        <a href="https://www.termsandconditionsgenerator.com/live.php?token=1wfOdZFfXugTmgP40ai5yYaNSiWpuQr1">Termos e Condições</a><span> - </span>
        <a href="https://www.privacypolicygenerator.info/live.php?token=JrxWTjaNpzwfq9lsdIsw5eGRiAxoz5ay">Política de Privacidade</a>
      </div>
    </div>
{% endblock %}
