:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #4ac448;
  --bg-secondary: #0b131a;
  --bg-green: #54b13e;
  --background-gradient: linear-gradient(110deg, #83bb77, #1f9a41);
}

@font-face {
  font-family: GothamBook;
  src: url('/static/home/font/Gotham-Book.otf');
}

body {
  color: black;
  background-color: #16181E;
  margin: 0;
  padding: 0;
  scrollbar-width: 0.5rem;
  scrollbar-color: #229be8 #01161b;
}

body::-webkit-scrollbar{
  width: 0.5rem;
}

body::-webkit-scrollbar-track{
  background: #01161b;
}

body::-webkit-scrollbar-thumb{
  background: var(--bg-primary);
  border-radius: 0.75rem;
}

main {
  display: block;
  align-items: center;
  text-align: center;
  justify-items: center;
  justify-content: center;
  margin-left: 5rem;
  padding: 1rem;
}

.logo-img {
  filter: brightness(1.2) contrast(1) hue-rotate(354deg) saturate(0.9);
}

.separator {
  width: 60%;
  color: var(--bg-green);
  border: none;
  border-top: 0.2rem solid var(--bg-green);
  padding: 0rem;
}

.slogan {
  font-family: GothamBook;
  font-weight: normal;
  color: var(--bg-green);
  padding: 2rem;
}

#aprenda {
  color: var(--bg-green);
  padding: 2rem;
}

.icon {
  font-size: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  color: #229be8;
}

.icon-language {
  font-size: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  color: #229be8;
}

.javascript-icon {
  color: #edc312;
}

.grid-languages{
  margin: auto;
  display: grid;
  justify-content: center;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 10rem));
  grid-auto-rows: 10rem;
  font-size: 2rem;
}

.card-language {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f9a41;
  background-image: linear-gradient(100deg, #6dbb5b, #1f9a41);
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  z-index: 0;
  transition: box-shadow 400ms, transform 400ms, background-color 200ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }

 .card-language .icon {
  font-size: 5rem;
  filter: grayscale(100%) opacity(0.7) brightness(10%) blur(0.1px);
  transition: 400ms;
  z-index: -1;
 }

.card-language:hover {
  background: var(--bg-secondary);
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

.card-language:hover .icon {
  filter: grayscale(0%) opacity(1) brightness(100%);
}

/* For pc */
@media only screen and (min-width: 601px){
  .logo-img {
    padding: 2rem;
  }

  main::after {
    content: "";
    background: url("/static/users/img/background.jpg");
    filter: blur(5px);
    padding: 0;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size: cover;
    z-index: -1;
  }
}

/* For mobile */
@media only screen and (max-width: 600px){

  .card-title {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .logo-img {
    align-self: center;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  main {
    margin: 0;
    margin-top: 2rem;
  }
}
