:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #4ac448;
  --bg-secondary: #0b131a;
  --bg-green: #54b13e;
  --background-gradient: linear-gradient(110deg, #83bb77, #1f9a41);
}

@font-face {
  font-family: GothamBook;
  src: url('/static/home/font/Gotham-Book.otf');
}

body {
  color: black;
  background-color: #16181E;
  margin: 0;
  padding: 0;
  scrollbar-width: 0.5rem;
  scrollbar-color: #229be8 #01161b;
}

body::-webkit-scrollbar{
  width: 0.5rem;
}

body::-webkit-scrollbar-track{
  background: #01161b;
}

body::-webkit-scrollbar-thumb{
  background: var(--bg-primary);
  border-radius: 0.75rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 17rem);
  grid-auto-rows: 25rem;
}

.card {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  font-family: GothamBook;
  color: var(--text-secondary);
  height: auto;
  margin: 0;
  font-weight: 700;
  border-radius: 1rem;
  align-items: center;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.img {
  width: 120%;
  height: 19rem;
  object-fit: cover;
}

.txt {
  text-align: center;
  width:100%;
  height:100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.txt h4 {
  margin-top: 0.9rem;
}

.btn {
  border: none;
  background: none;
  background-color:#44c767;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
  width: 3rem;
	padding: 0.6rem 0.6rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  margin-right: 0.7rem;
}

.btn:focus {
  outline: none;
}

.ttl {
  text-overflow: ellipsis;
  font-size: 1rem;
}

/* for mobile */
@media only screen and (max-width: 768px){
  main {
    background-color: var(--bg-primary);
  }

  body {
    background-color: var(--bg-primary);
  }

  .card {
    background-color: var(--bg-secondary);
    margin-top:0.2rem;
  }
}

/* for pc */
@media only screen and (min-width: 769px){
  .card {
    background-image: var(--background-gradient);
  }

  .grid {
    padding: 2rem;
  }

  main{
    margin-left: 5rem;
    height: 90vh;
    width: 90vw;
  }
}
