{% extends "home/base.html" %}
{% load static %}

{% block css_import %}
<link rel="stylesheet" href="{% static 'learn/css/index.css' %}">
<script src="{% static 'learn/js/animation.js' %}" type="text/javascript"></script>
{% endblock %}

{% block main %}
    <div id="card1" onmousedown="expand(1);" class="card retracted">
      <span>1. Lógica de programação</span>
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg" class="arrow">
    </div>
    <div class="courses c1">
      <ol>
        <li><a href="{% url 'codele-lesson' 'gml' 1 %}">Algoritmo</a></li>
        <li><a href="{% url 'codele-lesson' 'gml' 2 %}">Lógica Básica</a></li>
        <li><a href="{% url 'codele-lesson' 'gml' 3 %}">Tipos Primitivos</a></li>
        <li><a href="{% url 'codele-lesson' 'gml' 4 %}">Input e Output</a></li>
        <li><a href="{% url 'codele-lesson' 'gml' 5 %}">Lógica e Condições</a></li>
        <li><a href="{% url 'codele-lesson' 'gml' 6 %}">Loops</a></li>
        <li><a href="{% url 'codele-lesson' 'gml' 7 %}">Sintaxe</a></li>
        <li><a href="{% url 'codele-lesson' 'gml' 8 %}">Keywords</a></li>
        <li><a href="{% url 'codele-lesson' 'gml' 9 %}">Final</a></li>
      </ol>
    </div>

    <div id="card2" onmousedown="expand(2);" class="card retracted">
      <span>2. Introdução à plataforma</span>
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg" class="arrow">
    </div>
    <div class="courses c2">
      <ol>
        <li><a href="{% url 'codele-lesson' 'gml' 10 %}">Conhecendo o Game Maker Studio 2</a></li>
        <li><a href="{% url 'codele-lesson' 'gml' 11 %}">Criando o primeiro jogo</a></li>
        <li><a href="{% url 'codele-lesson' 'gml' 12 %}">Animações</a></li>
        <li><a href="{% url 'codele-lesson' 'gml' 13 %}">Inteligência Artificial Simples</a></li>
        <li><a href="{% url 'codele-lesson' 'gml' 14 %}">Colisões</a></li>
        <li><a href="{% url 'codele-lesson' 'gml' 15 %}">Barra de Vida</a></li>
        <li><a href="{% url 'codele-lesson' 'gml' 16 %}">HUD</a></li>
        <li><a href="{% url 'codele-lesson' 'gml' 17 %}">Criação de Objetos</a></li>
      </ol>
    </div>

    <div id="card3" onmousedown="expand(3);" class="card retracted">
      <span>3. Exercícios</span>
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg" class="arrow">
    </div>
    <div class="courses c3">
      <ol>
        <li><a href="{% url 'codele-lesson' 'gml' 18 %}">Exercícios</a></li>
      </ol>
    </div>
{% endblock %}
