{% extends "home/base.html" %}

{% load static %}

{% block css_import %}
<link rel="stylesheet" href="{% static 'blog/css/posts.css' %}">
{% endblock %}

{% block main %}
      <div class="grid">
      {% for post in posts %}
        <a style="text-decoration: none" href="{% url 'codele-post' post.id %}" class="card">
          <div class="img-div">
            <img class="img" src="{{ post.image.url }}" alt="">
          </div>
          <div class='txt'>
            <h4 class='ttl'>
              {{ post.title }}
            </h4>
            <h5>by {{ post.author }}</h5>
          </div>
        </a>
      {% endfor %}
      </div>
{% endblock %}
