{% extends "home/base.html" %}
{% load static %}

{% block css_import %}<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">{% endblock %}

{% block main %}
{% if user_not_registered %}
    <meta http-equiv="refresh" content="0; URL='{% url 'codele-home' %}'"/>
{% else %}
    <div class="card">
      <div class="profile">
        <div class="profile-img">
          <img class="profile-pic" src="{{ profile_pic }}"/>
        </div>
        {% if username == 'douugbr' or username == 'douglas.silva689' %}
        <div class="">
          <a href="{% url 'codele-about' %}">FUNDADOR</a>
        </div>
        {% endif %}
        <span>Nome: {{ first_name }} {{ last_name }}</span>
        <span>Usuário: {{ username }}</span>
        <span>Membro desde {{ date_joined|date:"d/M/Y" }}</span>
        <span>Lições vistas: {{ lessons_completed }}</span>
        <button class="btn" onclick="window.location={% url 'codele-logout' %};" type="button" name="button">Logout</button>
      </div>
    </div>

{% endif %}
{% endblock %}
