{% extends "home/base.html" %}
{% load static %}
{% load i18n %}

{% block css_import %}<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">{% endblock %}

{% block main %}
{% if not user.is_authenticated %}
    <meta http-equiv="refresh" content="0; URL='{% url 'codele-home' %}'"/>
{% else %}
    <div class="card">
      <div class="profile">
        <div class="profile-img">
          <img class="profile-pic" src="{{ profile_pic }}"/>
        </div>
        <div class="fundador">
          <a href="{% url 'codele-about' %}">{{ badge }}</a>
        </div>
        <h2>{{ first_name }} {{ last_name }}</h2>
        <span style="margin-bottom:0.7rem;">{{ username }}</span>
        {% language 'pt' %}
        <span style="margin-bottom:0.7rem;">Membro desde {{ date_joined|date:"d/M/Y" }}</span>
        {% endlanguage %}
        <span>{{ lessons_completed }} lições vistas</span>
        {% if username == user.username %}
        <button class="btn" onclick="window.location={% url 'codele-logout' %};" type="button" name="button">Logout</button>
        {% else %}

        {% endif %}
      </div>
    </div>

{% endif %}
{% endblock %}
