{% extends "home/base.html" %}
{% load static %}

{% block css_import %}<link rel="stylesheet" href="{% static 'users/css/register.css' %}">{% endblock %}

{% block main %}
    <div class="card">
      <form class="form" action="index.html" method="post">
        {% csrf_token %}
        <h3 class="title">Bem-vindo ao Codele!</h3>
        <input placeholder="Nome" type="text" name="first-name" class="first-name" value="">
        <input placeholder="Sobrenome" type="text" name="last-name" class="last-name" value="">
        <input placeholder="Usuário" type="text" name="username" class="username" value="">
        <input placeholder="E-mail" type="email" name="email" class="email" value="">
        <input placeholder="Senha" type="password" name="password" class="passwd" value="">
        <button class="btn" type="submit" name="button">Cadastrar</button>
        <div class="terms"><small>Ao me cadastrar, declaro que concordo com os <a href="https://www.termsandconditionsgenerator.com/live.php?token=1wfOdZFfXugTmgP40ai5yYaNSiWpuQr1">Termos e Condições</a> e com a <a href="https://www.privacypolicygenerator.info/live.php?token=CPkyX8nS7fWUOSJ1mywOwOJMyNDzo7nV">Política de Privacidade</a></small>
        </div>
      </form>
      <div class="already-have">
          <span>
            Já possui uma conta? <a href="{% url 'codele-home' %}">Faça o Login</a>
          </span>
      </div>
    </div>
{% endblock %}
