{% extends "home/base.html" %}
{% load static %}

{% block css_import %}<link rel="stylesheet" href="{% static 'users/css/register.css' %}"><script src="https://www.google.com/recaptcha/api.js" async defer></script>{% endblock %}

{% block main %}
    <div class="card">
      <form class="form" method="post">
        {% csrf_token %}

        <h3 class="title">Bem-vindo ao Codele!</h3>
        {% if form.errors or captcha == 'invalid' %}
        <div class="title error-card">
          {% for field in form %}
          {% for error in field.errors %}
            <span class="title form-errors">{{ error }}</span>
          {% endfor %}
          {% endfor %}
          {% if captcha == 'invalid' %}
          <span class="title form-errors">Captcha Inválido</span>
          {% endif %}
        </div>
        {% endif %}
        <input placeholder="Nome" type="text" name="first_name" class="first-name" required value="">
        <input placeholder="Sobrenome" type="text" name="last_name" class="last-name" required value="">
        <input placeholder="Usuário (Use apenas letras, números e/ou _-.)" type="text" name="username" class="username" required value="">
        <input placeholder="E-mail" type="email" name="email" class="email" required value="">
        <input placeholder="Senha (min: 8 caracteres)" type="password" name="password" class="passwd" required value="">
        <div class="recaptcha">
          <div class="g-recaptcha" data-sitekey="6LeCyPUUAAAAAHlB78tpcCn_m8El9gO1wBjdWYTj"></div>
        </div>
        <button class="btn" type="submit" name="button">Cadastrar-se</button>
        <div class="terms"><small>Ao me cadastrar, declaro que concordo com os <a href="https://www.termsandconditionsgenerator.com/live.php?token=1wfOdZFfXugTmgP40ai5yYaNSiWpuQr1">Termos e Condições</a> e com a <a href="https://www.privacypolicygenerator.info/live.php?token=JrxWTjaNpzwfq9lsdIsw5eGRiAxoz5ay">Política de Privacidade</a></small>
        </div>
      </form>
      <div class="already-have">
          <span>
            Já possui uma conta?
          </span>
          <button class="btn log-in" type="" onclick="window.location={% url 'codele-login' %};" name="button">Fazer Login</button>
      </div>
    </div>
{% endblock %}
