{% extends "home/base.html" %}
{% load static %}

{% block css_import %}<link rel="stylesheet" href="{% static 'users/css/register.css' %}">{% endblock %}

{% block main %}
    <div class="card">
        <h2 style="margin-top: 2rem;">Sua conta foi criada com sucesso! Faça o login!</h2>
        <h3>Caso você não seja redirecionado <a href="{% url 'codele-login' %}">clique aqui.</a></h3>
        <script>
          var timer = setTimeout(function() {
              window.location="{% url 'codele-login' %}"
          }, 3000);
        </script>
    </div>
{% endblock %}
