{% extends 'learn/gml/lessons/0.html' %}
{% load static %}

{% block css_import %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'learn/css/gml/lessons/1.css' %}">
{% endblock %}

{% block main %}

<content>

	<div class="header">
		<h1>Introdução à plataforma</h1>
	</div>

	<div class="main_content">

		<h1>Conhecendo a plataforma</h1>

		<p>Ao abrir o programa e entrar em sua conta YoYo Games, a plataforma abrirá um leque de opções que podem ser selecionadas.</p>

		<ul class="alg">
			<li><b>New</b> – Criará um novo projeto.</li>
			<br>
			<li><b>Open</b> – Abrirá um projeto já existente.</li>
			<br>
			<li><b>Import</b> – Importará um arquivo “.yyp” a sua lista de projetos. (Resumidamente, adiciona um novo projeto a sua conta).</li>
			<br> 
			<li><b>Marketplace</b> – Abrirá uma loja onde você poderá comprar expansões, templates (bases) de projetos, ferramentas, e até mesmo jogos feitos na plataforma.</li>
			<br>
			<li><b>Tutorials</b> – Abrirá uma seção com vídeos de tutoriais sobre a plataforma.</li>
			<br>
			<li><b>Demos</b> – Mostrará as Demos (Demonstrações) de jogos que você possui e/ou adquiriu na loja da plataforma.</li>
		</ul>

		<p>Caso você crie ou importe projetos ao seu Game Maker Studio, eles poderão ser acessados rapidamente na tela inicial, no lado esquerdo da tela, na aba “Recent Projects”.</p>

		<p>Para conhecermos melhor as ferramentas do Game Maker Studio 2, vamos criar um novo projeto. Ao clicar na opção New, o programa nos oferecerá três opções, porem a que nos interessa, é a do meio “Game Maker Language”, falaremos das outras opções mais adiante. Ao selecionar a opção, daremos um nome ao projeto, que pode ser de sua escolha, porem para facilitar a organização, é sugerido que se dê o nome de “Aula 01”.</p>

		<p>Com o projeto aberto, teremos na tela em maior evidencia, nosso Workspace. O Workspace será onde ficarão abrigadas as maiores informações do projeto, e a principal área onde o projeto será trabalhado, pode-se pensar nele como no sentido literal da tradução da palavra, um “espaço para trabalho”.</p>

		<p>Antes de começarmos a trabalhar com as ferramentas do Game Maker, é preciso estuda-las uma a uma, e entender suas características. As principais Ferramentas da plataforma, são encontradas ao lado do Workspace, no canto direito da tela, na aba “Resources”. Por enquanto, iremos estudar apenas as ferramentas básicas da plataforma, estas são: Sprites, Scripts, Objects, Rooms.</p>

		<ul class="alg">
			<li><b>Sprites</b> – A ferramenta Sprites, trabalha com as imagens no Game Maker, ela é responsável por desenhar na tela um personagem, um inimigo, uma estrutura, entre outras. Ao adicionar uma Sprite, a plataforma lhe oferece diversas informações sobre ela: Altura e Largura, O número de sub-imagens (caso a imagem for animada, mostrará o numero de imagens que compõem a animação)</li>
			<br>
			<li><b>Scripts</b> – Scripts são peças de códigos que você pode salvar em um editor de texto, e utilizar esses códigos pré escritos futuramente, poupando uma grande quantidade de tempo muitas vezes.
			Objects – Os Objetos são as entidades do jogo, você pode digitar seus códigos dentro de seu objeto, para que ele realize determinada função quando você o colocar dentro do jogo, objetos podem ser usados de diversas formas, para criar o jogador, para criar inimigos, estruturas, para criar contagens de pontos, criar um contador de tempo, fazer um sistema de dia e noite, entre diversas e praticamente infinitas coisas.</li>
			<br>
			<li><b>Rooms</b> – As Rooms são basicamente as telas de seu jogo, o menu inicial é uma Room, as fases de seu jogo são Rooms, entre diversas outras coisas. A Room é o lugar onde você colocará seus objetos, para que eles atuem na função que foi designada a eles. Para uma melhor experiencia ao trabalhar com as Rooms, é necessário que haja conhecimento em Plano Cartesiano.</li>
		</ul>

		<p>Hoje aprendemos como manipular seus projetos no Game Maker Studio 2, e conhecemos as principais ferramentas da plataforma, na próxima aula, aprenderemos a criar nossos primeiros objetos, a criar o objeto do jogador, e como criar um código de movimentação básico para nosso primeiro jogo. Até mais!</p>


	</div>

	<div class="btns">

		<div class="btn-root">
			<li><a class="a-btn" href="{% url 'codele-learn' 'gml' %}">Início</a></li>
		</div>

		<div class="btn-next">
			<li><a class="a-btn" href="{% url 'codele-lesson' 'gml' 11 %}">Próximo</a></li>
		</div>

	</div>

	<div class="nav-lessons">
		<a href="{% url 'codele-learn' 'gml' %}" class="home">Início</a>
		<a href="{% url 'codele-lesson' 'gml' 10 %}">1</a>
		<a href="{% url 'codele-lesson' 'gml' 11 %}">2</a>
		<a href="{% url 'codele-lesson' 'gml' 12 %}">3</a>
		<a href="{% url 'codele-lesson' 'gml' 13 %}">4</a>
		<a href="{% url 'codele-lesson' 'gml' 14 %}">5</a>
		<a href="{% url 'codele-lesson' 'gml' 15 %}">6</a>
		<a href="{% url 'codele-lesson' 'gml' 16 %}">7</a>
		<a href="{% url 'codele-lesson' 'gml' 17 %}">8</a>
		<a href="{% url 'codele-lesson' 'gml' 18 %}">9</a>
		<a href="{% url 'codele-lesson' 'gml' 19 %}">10</a>
	</div>

</content>

{% endblock %}





