,:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #299d49;
  --bg-secondary: #0b131a;
  --bg-thirdoption: #01161b;
  --background-gradient: linear-gradient(110deg, #83bb77, #1f9a41);
}

@font-face {
  font-family: GothamBook;
  src: url('/static/home/font/Gotham-Book.otf');
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.card {
  color: var(--text-secondary);
  height: auto;
  margin: auto;
  display: static;
  border-radius: 2rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1rem 2.3rem 2rem 2.3rem;
}

.profile-pic {
  margin: auto;
  height: 10rem;
  width: 10rem;
  transition: 200ms ease;
  padding: 0;
}

.change-link {
  border-radius: 50%;
  border: none;
  display: inline-block;
  margin: 1rem 2rem 2rem 2rem;
  cursor: pointer;
}

.change {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.change-icon {
  position: absolute;
  z-index: 2;
  filter: opacity(0);
  pointer-events: none;
  fill: var(--text-secondary);
  transition: 200ms ease;
}

.not-changeable {
  margin: 1rem 2rem 2rem 2rem;
}

.changeable:hover {
  filter: blur(10px) grayscale(50%) brightness(0.7);
}

.changeable:hover ~ .change-icon {
  filter: opacity(1);
}

.file-upload {
  display: none;
}

.badge {
  height: auto;
  width: 100%;
  margin: auto;
  display: static;
  border-radius: 2rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1rem 0rem 1rem 0rem;
  margin-bottom: 1rem;
  background-color: var(--bg-secondary);
  letter-spacing: 0.3ch;
  text-decoration: none;
}

.badge a {
  text-decoration: none;
  color: #38cdd5;
  font-weight: bold;
}

.profile {
  display: flex;
  flex-direction: column;
  font-family: GothamBook, sans-serif;
  font-size: 1.5rem;
}

.btn {
  grid-area: btn;
  font-family: GothamBook, sans-serif;
  background-color: var(--bg-thirdoption);
  border-radius: 2rem;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1.5rem;
  cursor: pointer;
}

.banido {
  grid-area: btn;
  font-family: GothamBook, sans-serif;
  background-color: var(--bg-thirdoption);
  border-radius: 2rem;
  border: none;
  color: #e94040;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1.5rem;
}

input, select {
  font-family: GothamBook;
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-sizing: border-box;
}

.already-have {
  display: flex;
  flex-direction: column;
}

.log-in {
  margin-top: 1rem;
}

/* for mobile */
@media only screen and (max-width: 768px){
  .already-have {
    margin-top: 1rem;
  }

  .log-in {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .profile-pic {
    border-radius: 50%;
    border: none;
    margin-bottom: 2rem;
  }

  main {
    background-color: var(--bg-primary);
  }

  body {
    background-color: var(--bg-primary);
  }

  .card {
    margin-top:0rem;
  }

  .form {
    grid-gap:1.5rem;
  }
}

/* for pc */
@media only screen and (min-width: 769px){
  main::after {
    content: "";
    background: url("/static/users/img/background.jpg");
    filter: blur(5px);
    padding: 0;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size: cover;
    z-index: -1;
  }

  .profile-pic {
    border-radius: 50%;
    border: none;
  }

  .profile {
    margin: 1rem;
  }

  .card{
    width: 24rem;
    background-image: linear-gradient(110deg, #83bb77, #1f9a41);
  }

  main{
    height: 90vh;
    width: 90vw;
  }
}
